<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  
  <servlet>
  <servlet-name>Trade</servlet-name>
  <servlet-class>com.lmax.web.servlet.TradeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>Trade</servlet-name>
  <url-pattern>/Trade</url-pattern>
  </servlet-mapping>
  
  <servlet>
  <servlet-name>PlaceOrder</servlet-name>
  <servlet-class>com.lmax.web.servlet.PlaceOrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>PlaceOrder</servlet-name>
  <url-pattern>/PlaceOrder</url-pattern>
  </servlet-mapping>
  
  
   <servlet>
  <servlet-name>Order</servlet-name>
  <servlet-class>com.lmax.web.servlet.OrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>Order</servlet-name>
  <url-pattern>/Order</url-pattern>
  </servlet-mapping>
  
  <servlet>
  <servlet-name>CloseOrder</servlet-name>
  <servlet-class>com.lmax.web.servlet.CloseOrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>CloseOrder</servlet-name>
  <url-pattern>/CloseOrder</url-pattern>
  </servlet-mapping>
  
  <servlet>
  <servlet-name>Account</servlet-name>
  <servlet-class>com.lmax.web.servlet.AccountServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>Account</servlet-name>
  <url-pattern>/Account</url-pattern>
  </servlet-mapping>
  
  <listener>
     <listener-class>com.lmax.web.listener.SessionListener</listener-class>
  </listener>
  
  
</web-app>
